.Card {
  padding: 10px;
  margin: 10px;
  width: 28%;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px gainsboro;
  border-radius: 5px;

  .Nome {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  &:hover {
    background-color: cornflowerblue;
    box-shadow: 0 0 10px cadetblue;
    transition: .4s;
    color: white;
  }
}